<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Confirmation</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Confirmacion de Turno</h1>
    </div>
    <div class="message">
        <p>Estimado [[${name}]],</p>
        <p>Queda agendado su turno con nosotros.</p>
        <p>Fecha y Hora: [[${appointmentDateTime}]]</p>
        <p>Lugar: VETHOME</p>
        <p>Con tu/s mascotas: [[${petsText}]]</p>
        <p>¡Esperamos verte allí!</p>
    </div>
    <div class="footer">
        <p>Saludos, El equipo de tu clínica veterinaria</p>
    </div>
</div>
</body>
</html>
