<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recordatorio de Control Veterinario</title>
</head>
<body>
<p>Hola, <span th:text="${customer?.name}"></span></p>

<p>Te recordamos que hace tu ultima visita con tu mascota que no llevas a tu mascota {{ nombreMascota }} a un control veterinario. Es importante cuidar la salud y bienestar de tu mascota.</p>

<p>Por favor, programa una cita con tu veterinario para un control.</p>

<p>Atentamente,</p>
<p>Tu Clínica Veterinaria</p>
</body>
</html>
