<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro exitoso en VETHOME</title>
</head>
<body>
<table style="font-family: Arial, sans-serif; background-color: #f5f5f5; max-width: 600px; margin: 0 auto; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <tr>
        <td style="text-align: center; margin-bottom: 20px;">
            <h1 style="color: #333;">Registro exitoso en VETHOME</h1>
        </td>
    </tr>
    <tr>
        <td style="margin-bottom: 20px;">
            <p>¡Gracias por registrarte en VETHOME, <span th:text="${customer?.name}"></span>! Esperamos que como cliente te sientas a gusto y acompañado por los mejores profesionales para la salud de tu amigo de 4 patas!</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; color: #888; font-size: 12px;">
            <p>No responda a este correo electrónico. Si tiene alguna pregunta, póngase en contacto con nuestro equipo de soporte.</p>
        </td>
    </tr>
</table>
</body>
</html>
